In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('TERRITORIES.csv')

In [3]:
df.shape

(561728, 14)

In [4]:
df.drop(columns=['GNR','GNR_LF','DATA_QUALITY_FLAG','ALT_GEO_CODE'], inplace=True, axis=1)

In [5]:
df.drop(columns=['Member ID: Profile of Dissemination Areas (2247)'], inplace=True, axis=1)
df.head()

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,DIM: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,1,0,Canada,"Population, 2016",1.0,35151728,...,...
1,2016,1,0,Canada,"Population, 2011",2.0,33476688,...,...
2,2016,1,0,Canada,"Population percentage change, 2011 to 2016",NaN,5.0,...,...
3,2016,1,0,Canada,Total private dwellings,3.0,15412443,...,...
4,2016,1,0,Canada,Private dwellings occupied by usual residents,4.0,14072079,...,...

In [6]:
df.rename(columns={'DIM: Profile of Dissemination Areas (2247)':'Data','Dim: Sex (3): Member ID: [1]: Total - Sex':'Total Sex','Dim: Sex (3): Member ID: [2]: Male':'Male','Dim: Sex (3): Member ID: [3]: Female':'Female'}, inplace=True)

In [7]:
df.rename(columns={'Notes: Profile of Dissemination Areas (2247)':'No'}, inplace=True)

## Create database by splitting dataframe

In [8]:
df['No'].max()

238.0

In [12]:
df.head()

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,Data,No,Total Sex,Male,Female
0,2016,1,0,Canada,"Population, 2016",1.0,35151728,...,...
1,2016,1,0,Canada,"Population, 2011",2.0,33476688,...,...
2,2016,1,0,Canada,"Population percentage change, 2011 to 2016",NaN,5.0,...,...
3,2016,1,0,Canada,Total private dwellings,3.0,15412443,...,...
4,2016,1,0,Canada,Private dwellings occupied by usual residents,4.0,14072079,...,...

In [9]:
rows_NaN = df[['No']].isnull().any(axis=1)
No_NaN_List = df[rows_NaN].index.tolist()

In [10]:
No_NaN_List

[2,
 5,
 6,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 41,
 42,
 44,
 45,
 46,
 47,
 48,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 95,
 96,
 97,
 98,
 100,
 101,
 102,
 103,
 105,
 106,
 107,
 108,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1026,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1039,
 1040,
 1041,
 1042,
 1043,
 1044,
 1045,
 1046,
 1047,
 1048,
 1049,
 ...]

In [11]:
rows_NotNaN = df[['No']].notnull().any(axis=1)
No_NotNaN_List = df[rows_NotNaN].index.tolist()

In [12]:
No_NotNaN_List

[0,
 1,
 3,
 4,
 7,
 39,
 40,
 43,
 49,
 50,
 58,
 67,
 91,
 93,
 94,
 99,
 104,
 109,
 110,
 111,
 380,
 649,
 660,
 671,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 707,
 723,
 740,
 749,
 758,
 779,
 799,
 815,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 846,
 871,
 1134,
 1135,
 1138,
 1139,
 1140,
 1141,
 1148,
 1149,
 1150,
 1156,
 1167,
 1176,
 1183,
 1185,
 1200,
 1201,
 1203,
 1206,
 1211,
 1215,
 1216,
 1224,
 1225,
 1230,
 1231,
 1235,
 1254,
 1255,
 1257,
 1261,
 1268,
 1274,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1294,
 1295,
 1297,
 1298,
 1300,
 1301,
 1302,
 1303,
 1306,
 1311,
 1312,
 1316,
 1321,
 1322,
 1323,
 1324,
 1330,
 1331,
 1334,
 1335,
 1336,
 1337,
 1351,
 1361,
 1377,
 1384,
 1389,
 1400,
 1418,
 1419,
 1424,
 1425,
 1445,
 1446,
 1471,
 1500,
 1512,
 1516,
 1536,
 1538,
 1539,
 1543,
 1569,
 1584,
 1603,
 1605,
 1614,
 1615,
 1616,
 1620,
 1623,
 1629,
 1636,
 1639,
 1642,
 1649,
 1650,
 1653,
 1657,
 1666,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1678,
 1679,
 1680,
 1681,
 1682,
 1684,
 1687,
 1688,
 1696,
 1697,
 1699,
 1702,
 1703,
 1711,
 1712,
 1713,
 1723,
 1733,
 1743,
 1750,
 1774,
 1775,
 1785,
 1795,
 1805,
 1812,
 1836,
 1838,
 1842,
 1843,
 1846,
 1847,
 1850,
 1852,
 1856,
 1857,
 1860,
 1861,
 1864,
 1872,
 1873,
 1875,
 1876,
 1878,
 1879,
 1880,
 1882,
 1883,
 1884,
 1885,
 1896,
 1897,
 1898,
 1919,
 1929,
 1936,
 1942,
 1949,
 2218,
 2229,
 2238,
 2247,
 2248,
 2250,
 2251,
 2254,
 2286,
 2287,
 2290,
 2296,
 2297,
 2305,
 2314,
 2338,
 2340,
 2341,
 2346,
 2351,
 2356,
 2357,
 2358,
 2627,
 2896,
 2907,
 2918,
 2929,
 2930,
 2931,
 2932,
 2933,
 2934,
 2935,
 2936,
 2937,
 2954,
 2970,
 2987,
 2996,
 3005,
 3026,
 3046,
 3062,
 3074,
 3075,
 3076,
 3077,
 3078,
 3079,
 3080,
 3093,
 3118,
 3381,
 3382,
 3385,
 3386,
 3387,
 3388,
 3395,
 3396,
 3397,
 3403,
 3414,
 3423,
 3430,
 3432,
 3447,
 3448,
 3450,
 3453,
 3458,
 3462,
 3463,
 3471,
 3472,
 3477,
 3478,
 3482,
 3501,
 3502,
 3504,
 3508,
 3515,
 3521,
 3523,
 3524,
 3525,
 3526,
 3527,
 3528,
 3529,
 3530,
 3531,
 3532,
 3533,
 3534,
 3535,
 3536,
 3537,
 3538,
 3541,
 3542,
 3544,
 3545,
 3547,
 3548,
 3549,
 3550,
 3553,
 3558,
 3559,
 3563,
 3568,
 3569,
 3570,
 3571,
 3577,
 3578,
 3581,
 3582,
 3583,
 3584,
 3598,
 3608,
 3624,
 3631,
 3636,
 3647,
 3665,
 3666,
 3671,
 3672,
 3692,
 3693,
 3718,
 3747,
 3759,
 3763,
 3783,
 3785,
 3786,
 3790,
 3816,
 3831,
 3850,
 3852,
 3861,
 3862,
 3863,
 3867,
 3870,
 3876,
 3883,
 3886,
 3889,
 3896,
 3897,
 3900,
 3904,
 3913,
 3918,
 3919,
 3920,
 3921,
 3922,
 3923,
 3925,
 3926,
 3927,
 3928,
 3929,
 3931,
 3934,
 3935,
 3943,
 3944,
 3946,
 3949,
 3950,
 3958,
 3959,
 3960,
 3970,
 3980,
 3990,
 3997,
 4021,
 4022,
 4032,
 4042,
 4052,
 4059,
 4083,
 4085,
 4089,
 4090,
 4093,
 4094,
 4097,
 4099,
 4103,
 4104,
 4107,
 4108,
 4111,
 4119,
 4120,
 4122,
 4123,
 4125,
 4126,
 4127,
 4129,
 4130,
 4131,
 4132,
 4143,
 4144,
 4145,
 4166,
 4176,
 4183,
 4189,
 4196,
 4465,
 4476,
 4485,
 4494,
 4495,
 4497,
 4498,
 4501,
 4533,
 4534,
 4537,
 4543,
 4544,
 4552,
 4561,
 4585,
 4587,
 4588,
 4593,
 4598,
 4603,
 4604,
 4605,
 4874,
 5143,
 5154,
 5165,
 5176,
 5177,
 5178,
 5179,
 5180,
 5181,
 5182,
 5183,
 5184,
 5201,
 5217,
 5234,
 5243,
 5252,
 5273,
 5293,
 5309,
 5321,
 5322,
 5323,
 5324,
 5325,
 5326,
 5327,
 5340,
 5365,
 5628,
 5629,
 5632,
 5633,
 5634,
 5635,
 5642,
 5643,
 5644,
 5650,
 5661,
 5670,
 5677,
 5679,
 5694,
 5695,
 5697,
 5700,
 5705,
 5709,
 5710,
 5718,
 5719,
 5724,
 5725,
 5729,
 5748,
 5749,
 5751,
 5755,
 5762,
 5768,
 5770,
 5771,
 5772,
 5773,
 5774,
 5775,
 5776,
 5777,
 5778,
 5779,
 5780,
 5781,
 5782,
 5783,
 5784,
 5785,
 5788,
 5789,
 5791,
 5792,
 5794,
 5795,
 5796,
 5797,
 5800,
 5805,
 5806,
 5810,
 5815,
 5816,
 5817,
 5818,
 5824,
 5825,
 5828,
 5829,
 5830,
 5831,
 5845,
 5855,
 5871,
 5878,
 5883,
 5894,
 5912,
 5913,
 5918,
 5919,
 5939,
 5940,
 5965,
 5994,
 6006,
 6010,
 6030,
 6032,
 6033,
 6037,
 6063,
 6078,
 6097,
 6099,
 6108,
 6109,
 6110,
 6114,
 6117,
 6123,
 6130,
 6133,
 6136,
 6143,
 6144,
 6147,
 6151,
 6160,
 6165,
 6166,
 6167,
 6168,
 6169,
 6170,
 6172,
 6173,
 6174,
 6175,
 6176,
 6178,
 6181,
 6182,
 6190,
 6191,
 6193,
 6196,
 6197,
 6205,
 6206,
 6207,
 6217,
 6227,
 6237,
 6244,
 6268,
 6269,
 6279,
 6289,
 6299,
 6306,
 6330,
 6332,
 6336,
 6337,
 6340,
 6341,
 6344,
 6346,
 6350,
 6351,
 6354,
 6355,
 6358,
 6366,
 6367,
 6369,
 6370,
 6372,
 6373,
 6374,
 6376,
 6377,
 6378,
 6379,
 6390,
 6391,
 6392,
 6413,
 6423,
 6430,
 6436,
 6443,
 6712,
 6723,
 6732,
 6741,
 6742,
 6744,
 6745,
 6748,
 6780,
 6781,
 6784,
 6790,
 6791,
 6799,
 6808,
 6832,
 6834,
 6835,
 6840,
 6845,
 6850,
 6851,
 6852,
 7121,
 7390,
 7401,
 7412,
 7423,
 7424,
 7425,
 7426,
 7427,
 7428,
 7429,
 7430,
 7431,
 7448,
 7464,
 7481,
 7490,
 7499,
 7520,
 7540,
 7556,
 7568,
 7569,
 7570,
 7571,
 7572,
 7573,
 7574,
 7587,
 7612,
 7875,
 7876,
 7879,
 7880,
 7881,
 7882,
 7889,
 7890,
 7891,
 7897,
 7908,
 7917,
 7924,
 7926,
 7941,
 7942,
 7944,
 7947,
 7952,
 7956,
 7957,
 7965,
 7966,
 7971,
 7972,
 7976,
 7995,
 7996,
 7998,
 8002,
 8009,
 8015,
 8017,
 8018,
 8019,
 8020,
 8021,
 8022,
 8023,
 8024,
 8025,
 8026,
 8027,
 8028,
 8029,
 8030,
 8031,
 8032,
 8035,
 8036,
 8038,
 8039,
 8041,
 8042,
 8043,
 8044,
 8047,
 8052,
 8053,
 8057,
 8062,
 8063,
 8064,
 8065,
 8071,
 8072,
 8075,
 8076,
 8077,
 8078,
 8092,
 8102,
 8118,
 8125,
 8130,
 8141,
 8159,
 8160,
 8165,
 8166,
 8186,
 8187,
 8212,
 8241,
 8253,
 8257,
 8277,
 8279,
 8280,
 8284,
 8310,
 8325,
 8344,
 8346,
 8355,
 8356,
 8357,
 8361,
 8364,
 8370,
 8377,
 8380,
 8383,
 8390,
 8391,
 8394,
 8398,
 8407,
 8412,
 8413,
 8414,
 8415,
 8416,
 8417,
 8419,
 8420,
 8421,
 8422,
 8423,
 8425,
 8428,
 8429,
 8437,
 8438,
 8440,
 8443,
 8444,
 8452,
 8453,
 8454,
 8464,
 8474,
 8484,
 8491,
 8515,
 8516,
 8526,
 8536,
 8546,
 8553,
 8577,
 8579,
 8583,
 8584,
 8587,
 8588,
 8591,
 8593,
 8597,
 8598,
 8601,
 8602,
 8605,
 8613,
 8614,
 8616,
 8617,
 8619,
 8620,
 8621,
 8623,
 8624,
 8625,
 8626,
 8637,
 8638,
 8639,
 8660,
 8670,
 8677,
 8683,
 8690,
 8959,
 8970,
 8979,
 8988,
 8989,
 8991,
 8992,
 8995,
 9027,
 9028,
 9031,
 9037,
 9038,
 9046,
 9055,
 9079,
 9081,
 9082,
 9087,
 9092,
 9097,
 9098,
 9099,
 9368,
 9637,
 9648,
 9659,
 9670,
 9671,
 9672,
 9673,
 9674,
 9675,
 9676,
 9677,
 9678,
 9695,
 9711,
 9728,
 9737,
 9746,
 9767,
 9787,
 9803,
 9815,
 9816,
 9817,
 9818,
 9819,
 9820,
 9821,
 9834,
 9859,
 10122,
 10123,
 10126,
 10127,
 10128,
 10129,
 10136,
 10137,
 10138,
 10144,
 10155,
 10164,
 10171,
 10173,
 10188,
 10189,
 10191,
 10194,
 10199,
 10203,
 10204,
 10212,
 10213,
 10218,
 10219,
 10223,
 10242,
 10243,
 10245,
 10249,
 10256,
 10262,
 10264,
 10265,
 10266,
 10267,
 10268,
 10269,
 10270,
 10271,
 10272,
 10273,
 10274,
 10275,
 10276,
 10277,
 10278,
 10279,
 10282,
 10283,
 ...]

In [13]:
df.iloc[No_NotNaN_List[0]:No_NotNaN_List[1],:]
df.iloc[No_NotNaN_List[1]:No_NotNaN_List[2],:]
df.iloc[No_NotNaN_List[3]:No_NotNaN_List[4],:].to_numpy()

array([[2016, 1, 0, 'Canada',
        'Private dwellings occupied by usual residents', 4.0, '14072079',
        '...', '...'],
       [2016, 1, 0, 'Canada', 'Population density per square kilometre',
        nan, '3.9', '...', '...'],
       [2016, 1, 0, 'Canada', 'Land area in square kilometres', nan,
        '8965588.85', '...', '...']], dtype=object)

In [14]:
dict_of_df = {}
for i in range(int(df['No'].max())):
    dict_of_df["df_{}".format(i)] = df.iloc[No_NotNaN_List[i]:No_NotNaN_List[i+1],:]
    #dict_of_df["df_{}".format(i)].to_csv('{}.csv'.format(dict_of_df["df_{}".format(i)]["Data"][No_NotNaN_List[i]]))

In [20]:
dict_of_df["df_4"]

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,Data,No,Total Sex,Male,Female
7,2016,1,0,Canada,Total - Age groups and average age of the popu...,5.0,35151730,17264200,17887530
8,2016,1,0,Canada,0 to 14 years,NaN,5839570,2992925,2846645
9,2016,1,0,Canada,0 to 4 years,NaN,1898790,973030,925755
10,2016,1,0,Canada,5 to 9 years,NaN,2018130,1034685,983445
11,2016,1,0,Canada,10 to 14 years,NaN,1922645,985200,937445
12,2016,1,0,Canada,15 to 64 years,NaN,23376530,11576130,11800400
13,2016,1,0,Canada,15 to 19 years,NaN,2026155,1039215,986945
14,2016,1,0,Canada,20 to 24 years,NaN,2242690,1144495,1098205
15,2016,1,0,Canada,25 to 29 years,NaN,2285990,1144475,1141515
16,2016,1,0,Canada,30 to 34 years,NaN,2329395,1148295,1181105
17,2016,1,0,Canada,35 to 39 years,NaN,2288365,1118635,1169730
18,2016,1,0,Canada,40 to 44 years,NaN,2255135,1104440,1150695
19,2016,1,0,Canada,45 to 49 years,NaN,2359965,1157755,1202210
20,2016,1,0,Canada,50 to 54 years,NaN,2678075,1318755,1359320
21,2016,1,0,Canada,55 to 59 years,NaN,2620240,1285190,1335055
22,2016,1,0,Canada,60 to 64 years,NaN,2290515,1114880,1175630
23,2016,1,0,Canada,65 years and over,NaN,5935635,2695145,3240485
24,2016,1,0,Canada,65 to 69 years,NaN,1972480,953075,1019405
25,2016,1,0,Canada,70 to 74 years,NaN,1420875,677975,742905
26,2016,1,0,Canada,75 to 79 years,NaN,1021850,469545,552305
27,2016,1,0,Canada,80 to 84 years,NaN,749645,325765,423880
28,2016,1,0,Canada,85 years and over,NaN,770780,268790,501990
29,2016,1,0,Canada,85 to 89 years,NaN,482520,185530,296990
30,2016,1,0,Canada,90 to 94 years,NaN,223510,68675,154830
31,2016,1,0,Canada,95 to 99 years,NaN,56525,13245,43280
32,2016,1,0,Canada,100 years and over,NaN,8230,1340,6890
33,2016,1,0,Canada,Total - Distribution (%) of the population by ...,NaN,100.0,100.0,100.0
34,2016,1,0,Canada,0 to 14 years,NaN,16.6,17.3,15.9
35,2016,1,0,Canada,15 to 64 years,NaN,66.5,67.1,66.0
36,2016,1,0,Canada,65 years and over,NaN,16.9,15.6,18.1
37,2016,1,0,Canada,85 years and over,NaN,2.2,1.6,2.8
38,2016,1,0,Canada,Average age of the population,NaN,41.0,40.1,41.9

## Create a function to find right dataframe
#### function(DAUID, keyword) --> df_15, df_63,...

In [21]:
dict_of_df["df_4"]

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,Data,No,Total Sex,Male,Female
7,2016,1,0,Canada,Total - Age groups and average age of the popu...,5.0,35151730,17264200,17887530
8,2016,1,0,Canada,0 to 14 years,NaN,5839570,2992925,2846645
9,2016,1,0,Canada,0 to 4 years,NaN,1898790,973030,925755
10,2016,1,0,Canada,5 to 9 years,NaN,2018130,1034685,983445
11,2016,1,0,Canada,10 to 14 years,NaN,1922645,985200,937445
12,2016,1,0,Canada,15 to 64 years,NaN,23376530,11576130,11800400
13,2016,1,0,Canada,15 to 19 years,NaN,2026155,1039215,986945
14,2016,1,0,Canada,20 to 24 years,NaN,2242690,1144495,1098205
15,2016,1,0,Canada,25 to 29 years,NaN,2285990,1144475,1141515
16,2016,1,0,Canada,30 to 34 years,NaN,2329395,1148295,1181105
17,2016,1,0,Canada,35 to 39 years,NaN,2288365,1118635,1169730
18,2016,1,0,Canada,40 to 44 years,NaN,2255135,1104440,1150695
19,2016,1,0,Canada,45 to 49 years,NaN,2359965,1157755,1202210
20,2016,1,0,Canada,50 to 54 years,NaN,2678075,1318755,1359320
21,2016,1,0,Canada,55 to 59 years,NaN,2620240,1285190,1335055
22,2016,1,0,Canada,60 to 64 years,NaN,2290515,1114880,1175630
23,2016,1,0,Canada,65 years and over,NaN,5935635,2695145,3240485
24,2016,1,0,Canada,65 to 69 years,NaN,1972480,953075,1019405
25,2016,1,0,Canada,70 to 74 years,NaN,1420875,677975,742905
26,2016,1,0,Canada,75 to 79 years,NaN,1021850,469545,552305
27,2016,1,0,Canada,80 to 84 years,NaN,749645,325765,423880
28,2016,1,0,Canada,85 years and over,NaN,770780,268790,501990
29,2016,1,0,Canada,85 to 89 years,NaN,482520,185530,296990
30,2016,1,0,Canada,90 to 94 years,NaN,223510,68675,154830
31,2016,1,0,Canada,95 to 99 years,NaN,56525,13245,43280
32,2016,1,0,Canada,100 years and over,NaN,8230,1340,6890
33,2016,1,0,Canada,Total - Distribution (%) of the population by ...,NaN,100.0,100.0,100.0
34,2016,1,0,Canada,0 to 14 years,NaN,16.6,17.3,15.9
35,2016,1,0,Canada,15 to 64 years,NaN,66.5,67.1,66.0
36,2016,1,0,Canada,65 years and over,NaN,16.9,15.6,18.1
37,2016,1,0,Canada,85 years and over,NaN,2.2,1.6,2.8
38,2016,1,0,Canada,Average age of the population,NaN,41.0,40.1,41.9